:root{
    --beige-regular:#F9F3EF;
    --beige-dark:#F2E9E4;
    --blue-regular:#7979BC;
    --blue-light:#A9A6CC;
    --pink:#F191BA;
    --orange:#EE7F5B;
    --green:#99BD8F;
}


@font-face {
    font-family:"Bricolage";
    src: url(Fonts/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf);
}

@font-face {
    font-family:"Inter";
    src: url(Fonts/Inter-VariableFont_slnt\,wght.ttf);
}

/*GLOBAL_________________________*/

body{
    background-color: var(--beige-regular);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
}


.globalWidth, section{
    margin-left: 5vw;
    margin-right: 5vw;
}


/*HEADER_________________________*/

header{
    /* background-color:yellow; */
    /* display: flex; */
    display: none;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: fit-content;
    align-items: center;
    margin-top: 5vh;  
}

.logo{
    width: 15vw;
}


.share{
    background-color: var(--blue-regular);
    height: fit-content;
    padding: 1.5vh 1.5vh;
    border-radius: 50%;
}

.share img{
    display: block;
    width: 3vw;
    margin-left: auto;
    margin-right: auto;
}


/*TEXT___________________________*/

.salut, h1, h2, h3{
    font-family:"Bricolage";
    color: var(--blue-regular);
}

.description{
    font-family: "Inter";
    color: var(--blue-light);
    font-size: 12px;
    line-height: 15px;

}

h2{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
}

h3{
    /* font-size: 4.5vw; */
    font-size: 18px;
    font-weight: 450;
}


/*ICONS___________________________*/
.iconLink{
    background-color: var(--blue-regular);
    height: 10vw;
    width: 10vw;
    border-radius: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    
}

.iconLink img{
    width: 6vw;
}

#icon_youtube img{
    width: 4vw;
    margin-left: 1vw;
}

#icon_portfolio{
    background-color: var(--pink);
    margin-bottom: 1vh;
}

#icon_instagram{
    background-color: var(--orange);
    margin-bottom: 1vh;
}

#icon_youtube{
    background-color: var(--green);
    margin-bottom: 1vh;
}



/*TITRE___________________________*/
.sectionTitle{
    margin-top: 5vh;
}

.salut{

    font-size: 20px;
    width: fit-content;
}

h1{

    font-size: 25px;
    font-weight: 300;
}

#personnalTitle{
    font-weight: 500;
}

/*LINKS___________________________*/
.sectionLinks{
    margin-top: 6vh;
    display: grid;
    grid-template-columns: 49% 49%;
    justify-content: space-between;
}

.largeBloc{
    background-color: var(--beige-dark);
    padding: 2vh 2.5vw;
    border-radius: 10px;
}



.description, h3{
    width: fit-content;
}

.YTB, .WRK{
    margin-top: 1vh;
}

.blocWork{
    background-color: var(--pink);
    display: flex;
    align-items: center;
    justify-content: center;

    
}

.animation{
    font-family: "Bricolage";
    color: var(--beige-regular);
    text-align: center;
    font-weight: 600;
    font-size: 3vh;
}


/*CONTACT___________________________*/
.sectionContact{
    margin-top: 6vh;
}

.titreContact{
    display: flex;
    gap: 2vw;
    margin-bottom: 1.5vh;
}

.contact{
    border-radius: 10px;
    display: grid;
    grid-template-columns: 40% 58%;
    justify-content: space-between; 
}

.largeKey{
    background-color:var(--beige-dark);
    padding: 3.5vh 5vw;

}

.key{
    display: flex;
    gap: 3vw;
    align-items: center;    
}

.largeKey-mail{
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.largeKey-linkedin{
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.desktopBody{
    display:none;
}


@media screen and (orientation:landscape) {
    
.mobileBody{
    display:none;
}

.desktopBody{
    display:block;
}

p{
    text-align: center;
    font-family: "Bricolage";
    color: var(--blue-regular);
    position: absolute; 
    font-size: 2.5vw;
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%);

}
    
}

